## Data types

### Numbers

In [ ]:
1 +  1    #addition

2

In [ ]:
1 * 3

3

In [ ]:
1 / 2

0.5

In [ ]:
2 ** 4

16

In [ ]:
4 % 2

0

In [ ]:
5 % 2

1

In [ ]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [ ]:
# Can not start with number or special characters
name_of_var = 2

In [ ]:
x = 2
y = 3

In [ ]:
z = x + y

In [ ]:
z

5

### Strings

In [ ]:
'single quotes'

'single quotes'

In [ ]:
"double quotes"

"double quotes"

In [ ]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [ ]:
x = 'hello'

In [ ]:
x

'hello'

In [ ]:
[ ] print(x)

hello

In [ ]:
num = 12
name = 'Sam'

In [ ]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [ ]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

 Lists

https://www.w3schools.com/python/python_lists.asp

In [ ]:
[1,2,3]

[1, 2, 3]

In [ ]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [ ]:
my_list = ['a','b','c']

In [ ]:
my_list.append('d')

In [ ]:
my_list

['a', 'b', 'c', 'd']

In [ ]:
my_list[0]

'a'

In [ ]:
my_list[1]

'b'

In [ ]:
my_list[:1]

['a']

In [ ]:
my_list[0] = 'NEW'

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
my_list

['NEW', 'b', 'c', 'd']

In [ ]:
nest = [1,2,3,[4,5,['target']]]

In [ ]:
nest[3]

[4, 5, ['target']]

In [ ]:
nest[3][2]

['target']

In [ ]:
nest[3][2][0]

'target'

### Dictionaries

https://www.w3schools.com/python/python_dictionaries.asp

In [ ]:
d = {'key1':'item1','key2':'item2'}

In [ ]:
d

{'key1': 'item1', 'key2': 'item2'}

In [ ]:
d['key1']

'item1'

### Tuples 

https://www.w3schools.com/python/python_tuples.asp

In [ ]:
t = (1,2,3)

In [ ]:
t[0]

1

In [ ]:
#A tuple is a unchangeable, so you will get an error
 
t[0] = 'NEW'

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-7-66398ebc44b2> in <module>()
      1 
----> 2 t[0] = 'NEW'    #A tuple is a unchangeable, so you will get an error

TypeError: 'tuple' object does not support item assignment

## if,elif, else Statements

In [ ]:
if 1 < 2:
    print('Yep!')

Yep!

In [ ]:
if 1 < 2:
    print('yep!')

Yep!

In [ ]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [ ]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [ ]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## list comprehension

In [ ]:
x = [1,2,3,4]

In [ ]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [ ]:
[item**2 for item in x]

[1, 4, 9, 16]

In [ ]:

a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = zip(a, b)

#use the tuple() function to display a readable version of the result:

print(tuple(x))

(('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'))

In [ ]:
players = [ "Sachin", "Sehwag", "Gambhir", "Dravid", "Raina" ] 
  
# initializing their scores 
scores = [100, 15, 17, 28, 43 ] 
  
# printing players and scores. 
for pl, sc in zip(players, scores): 
    print ("Player :  %s     Score : %d" %(pl, sc))

Player :  Sachin     Score : 100

Player :  Sehwag     Score : 15

Player :  Gambhir     Score : 17

Player :  Dravid     Score : 28

Player :  Raina     Score : 43

X

In [ ]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [ ]:
my_func

 <function __main__.my_func>

In [ ]:
my_func()

default

In [ ]:
my_func('new param')

new param

In [ ]:
my_func(param1='new param')

new param

In [ ]:
def square(x):
    return x**2

In [ ]:
out = square(2)

In [ ]:
print(out)

4

## lambda expressions

https://www.w3schools.com/python/python_lambda.asp

In [ ]:
def times2(var):
    return var*2

In [ ]:
times2(2)

4

In [ ]:
lambda var: var*2

<function __main__.<lambda>(var)>

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

2401

** Split this string:**

In [ ]:
s = "Hi there Sam!"

*into a list. *

In [ ]:
print(lst)

** Given the variables:**

In [ ]:
planet = "Earth"
diameter = 12742

** Use .format() to print the following string: **

In [ ]:
The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

'hello'

** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

'hello'

** What is the main difference between a tuple and a list? **

** Create a function that grabs the email website domain from a string in the form: **

In [ ]:
user@domain.com

So for example, passing "user@domain.com" would return: domain.com

[ ]

In [ ]:
domainGet('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

[ ]

In [ ]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
countDog('This dog runs faster than the other dog dude!')

2

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

In [ ]:
seq = ['soup','dog','salad','cat','great']

should be filtered down to:

In [ ]:
['soup','salad']

In [ ]:
seq = ['soup','dog','salad','cat','great']

['soup', 'salad']

### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    pass

In [ ]:
caught_speeding(81,True)

'Small Ticket'

In [ ]:
caught_speeding(81,False)

'Big Ticket'